<h4>My projects</h4>
<div ng-include="'projects/projects-list.tpl.html'">
</div>

<h4>My tasks</h4>
<table class="table table-bordered table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th class="span8">Name</th>
			<th class="span1">Estimation</th>
			<th class="span1">Remaining</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="task in tasks" ng-click="manageTask(task)">
			<td>{{task.name}}</td>
			<td>{{task.estimation}}</td>
			<td>{{task.remaining}}</td>
		</tr>
		<tr ng-show="!tasks.length">
			<td colspan="4">No tasks for you!</td>
		</tr>
	</tbody>
</table>


<h4>Watched Tasks</h4>
<table class="table table-bordered table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th class="span8">Name</th>
			<th class="span1">Estimation</th>
			<th class="span1">Remaining</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="task in watching" ng-click="manageTask(task)">
			<td ng-class="{'updated': task.updated}">{{task.name}}<small ng-show="task.updated"> - UPDATED</small></td>
			<td ng-class="{'updated': task.updated}">{{task.estimation}}</td>
			<td ng-class="{'updated': task.updated}">{{task.remaining}}</td>
		</tr>
		<tr ng-show="!watching.length">
			<td colspan="4">You are not watching any tasks</td>
		</tr>
	</tbody>
</table>